@inherits DisplayCasoBase

@foreach (var item in lstCasos)
{
    <div class="col-md-3 mb-2">
        <a href="/CasosDetails/@item.id_caso">
            <div class="card border-3 ">
                <img class="img-thumbnail border-2" src="@item.img_url">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        @item.titulo
                    </h5>

                    <label>Usuario asignado: </label>
                    <p class="card-text">@item.usuario_asignado</p>
                    
                    <label>Fecha asignación:</label>
                    <p class="card-text">@item.fecha_asignacion</p>
                    
                    <label>Branch:</label>
                    <p class="card-text">@item.branch</p>
                    
                    <label>Notas:</label>
                    <p class="card-text">@item.notas</p>
                
                </div>
            </div>
        </a>
    </div>

}